https://thecleverprogrammer.com/2021/01/05/bitcoin-price-prediction-with-python/

https://thecleverprogrammer.com/2020/12/14/facebook-prophet-model-with-python/

In [2]:
import pandas as pd
#from fbprophet import prophet
import prophet

In [4]:
df = pd.read_csv("BTC-USD.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-02-04,37149.265625,41527.785156,37093.628906,41500.875000,41500.875000,29412210792
1,2022-02-05,41501.480469,41847.164063,41038.097656,41441.164063,41441.164063,19652846215
2,2022-02-06,41441.121094,42500.785156,41244.906250,42412.433594,42412.433594,16142097334
3,2022-02-07,42406.781250,44401.863281,41748.156250,43840.285156,43840.285156,28641855926
4,2022-02-08,43854.652344,45293.867188,42807.835938,44118.445313,44118.445313,33079398868

In [5]:
df = df[["Date", "Close"]]
df

           Date         Close
0    2022-02-04  41500.875000
1    2022-02-05  41441.164063
2    2022-02-06  42412.433594
3    2022-02-07  43840.285156
4    2022-02-08  44118.445313
..          ...           ...
361  2023-01-31  23139.283203
362  2023-02-01  23723.769531
363  2023-02-02  23471.871094
364  2023-02-03  23449.322266
365  2023-02-04  23448.958984

[366 rows x 2 columns]

In [6]:
df.columns = ["ds", "y"]
print(df)

             ds             y
0    2022-02-04  41500.875000
1    2022-02-05  41441.164063
2    2022-02-06  42412.433594
3    2022-02-07  43840.285156
4    2022-02-08  44118.445313
..          ...           ...
361  2023-01-31  23139.283203
362  2023-02-01  23723.769531
363  2023-02-02  23471.871094
364  2023-02-03  23449.322266
365  2023-02-04  23448.958984

[366 rows x 2 columns]

In [9]:
prophet = Prophet()
prophet.fit(df)

NameError: name 'Prophet' is not defined

 make predictions for the next 365 days

In [ ]:
future = prophet.make_future_dataframe(period = 365)
print(future)

In [ ]:
forecast = prophet.predict(future)
forecast[["ds", "yhat", "yhat_lower", "yhat_upper"]].tail(200)

In [ ]:
from fbprophet.plot import plot
prophet.plot(forecast, figsize = (20,10))